.info {
    background-color: white;
    padding: 40px;
    &_body {
        p {
            font-size: 3.2em;
            font-weight: 650;
        }
        ul {
            padding: 0;
        }
        li {
            max-width: 1000px;
            list-style: none;
            font-size: 2.8em;

            font-weight: 400;
            &:first-child {
                padding-left: 10px;
                border-left: 2px solid black;
            }
            &:last-child {
                margin-left: 455px;
                margin-top: 60px;

                border-right: 2px solid black;
            }
        }
    }
}
@media (min-width: 1560px) {
    .info {
        li {
            max-width: fit-content;
            &:last-child {
                margin-left: 20px;
            }
        }
    }
}
@media (max-width: 1024px) {
    .info {
        p {
            text-align: center;
        }

        li {
            &:last-child {
                margin-left: 0px;
            }
        }
    }
}

@media (max-width: 426px) {
    .info {
        padding: 0px;
        &_body {
            ul {
                padding: 0;
            }
            li {
                padding: 10px;
                font-size: 1.4em;
                font-weight: 500;
                line-height: 100%;
                border-left: 2px solid black;
                margin-left: 20px;
                margin-right: 20px;

                &:last-child {
                    margin-left: 20px;
                    margin-right: 20px;
                    border-left: none;
                }
            }
        }
    }
}
